{% extends "base.html" %}
{% block content %}
    <style type="text/css">
        .btn-large{
            width: 90%;
            color: white;
            height: 50px;
            line-height: 50px;
            margin: 5px 5%;
            margin-top: 30px;
            background: #373a43;
            border: solid 2px #272a31; 
            border-radius: 10px;
            text-align: center;
            display: inline-block;
        }
        p{
            text-align: center;
            margin-top: 20px;
        }
        .auth{
            position: absolute;
            bottom: 20px;
            margin-left: -50px;
            left: 50%;
        }   
        .btn-text{
            height: 14px;            
            margin-top: 19px;
        } 
    </style>
    <img style="width:100%" src="/static/images/intro.png">
    <a href="/draw"><div class="btn-large"><img class="btn-text" src="/static/images/text/try.png"></div></a>
{% endblock %}
