{% extends "base.html" %}
{% block content %}
    <style type="text/css">
        .btn-small, .btn-large{
            width: 30%;
            color: white;
            height: 50px;
            line-height: 50px;
            margin: 5px 0.75%;
            /*margin-top: 30px;*/
            background: #373a43;
            border: solid 2px #272a31; 
            border-radius: 10px;
            text-align: center;
            display: inline-block;

        }
        .btn-large{
            width: 96%;
        }
        p{
            text-align: center;
            margin-top: 20px;
        }
        .auth{
            margin-bottom: 10px;
        }   
        .btn-text{
            height: 14px;            
            margin-top: 19px;
        } 
        #canvas{
            border:solid 1px black;
            margin: auto;
            /*width: 300px;*/
            display: block;  
            background: black;
            margin-top: -15px;
              
        }
    </style>
    <canvas id= "canvas"></canvas>
    <ul style="margin-top:10px;">
        {% for work in works %}
            <li class="btn-small" data-num="{{work.num}}" data-pnts="{{work.points}}"><img class="btn-text" src="/static/images/text/{{forloop.counter}}.png"></li>
        {% endfor %}
    </ul>
    <a href="/draw"><div class="btn-large"><img class="btn-text" src="/static/images/text/return.png"></div></a>
    <script type="text/javascript" src="/static/js/lib/jquery/jquery-1.8.2.min.js"></script>
    <script type="text/javascript" src="/static/js/more.js"></script>
{% endblock %}
