{% extends "base.html" %}
{% block content %}    
    <style type="text/css">
    	#canvas{
   			border:solid 1px black;
            margin: auto;
            /*width: 300px;*/
            display: block;  
            background: black;  
            margin-top: 10px;	
        }

        p{
            text-align: center;
            margin-top: 20px;
            /*line-height: 30px;*/

        }
        .btn{
            width: 90%;
            color: white;
            height: 50px;
            line-height: 50px;
            border-radius: 10px;
            margin: 5px 5%;
            margin-top: 30px;
            background: #373a43;
            border: solid 2px #272a31; 
            text-align: center;
            display: inline-block;
            color: #45d2b0;
        }
        .btn img{
            height: 14px;
            margin-top: 19px;
        }
        .auth{
            position: absolute;
            bottom: 20px;
            margin-left: -50px;
            left: 50%;
        }   
    </style>

	<canvas id="canvas"></canvas>

    <p>{{work.author}}作品</p>
    <div class="btn" id="play"><img src="/static/images/text/play.png"></div>
    <a href="/"><div class="btn" style="margin-top:0px;"><img src="/static/images/text/try.png"></div></a>

    <input type="hidden" id="pnts" value="{{work.points}}">
    <input type="hidden" id="num" value="{{work.num}}">    

	<script type="text/javascript" src="/static/js/lib/jquery/jquery-1.8.2.min.js"></script>
	<script type="text/javascript" src="/static/js/play.js"></script>
{% endblock %}

